


 h1,h2,h3,h4,h5 {
   font-family:  'Playfair Display', serif; 
   font-weight: bold;
   font-size: 96px;
   
}
 .hero p {
    font-size:  36px;
    color: #272142;
    font-weight:bold;   
}
.hero {
    text-align: center;
}
.hero h2{
   font-weight:normal;
   font-size:24px; 
   line-height:2;
   font-family: 'Poppins', sans-serif;
   color: #272142;
}
.btn-branding {
    background-color: #6C63FF;
    border-radius: 4px;
}