:root {
    --primary-color:#6C63FF;
    --secondary-color: #F9F7FE;
    --heading-font-family:'Playfair Display', serif; 
    --defoult-font-family: 'Poppins', sans-serif;
}
body {
    font-family: var(--defoult-font-family);
}
.project-description h2{
    font-size: 54px;
}
p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
.about-section h1 {
    font-size: 64px;
    line-height: 80px;
}
.about-section h2 {
    font-size: 18px;
    font-family: var(--defoult-font-family);
    font-weight: bold;
    
}
.about-section {
    padding: 160px 20px;
}
.about-section-content {
    margin: 30px;
    
}

 img {
    border-radius: 10px;
}

.hero h1 {
    font-family:  var(----heading-font-family);
   font-weight: bold;
   font-size: 96px;
}
  .p {
    font-size:  36px;
    color: #272142;
    font-weight:bold;   
}
.hero {
    text-align: center;
    padding: 160px 20px;
    background: var(--secondary-color);
}
.hero h2{
   font-weight:normal;
   font-size:24px; 
   line-height:2;
   font-family: var(-defoult-font-family);
   color: #272142;
}
 a.button{
    background: var(--primary-color);
    border-radius: 4px;
    padding:12px 20px;
    color: aliceblue;
    font-size: 18px;
    line-height: 7px;
}
a.btn-primary-outline {
    color:var(--primary-color);
    border: 2px solid var(--primary-color);
    font-size: 18px;
    line-height: 27px;
    padding:12px 20px;
}
.project-description {
    padding: 120px 60px ;
}
@media (max-width: 900px) {
    .project-description {
        padding: 0;
        text-align: center;

    }
    .hero h1 {
        font-size: 60px;
    }
    .project-description h2 {
font-size: 36px;
    }
    .about-section {
        text-align: center;
        padding: 0;
    }
}